/* CSS RESET */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Site CSS Code */

@import url('https://fonts.googleapis.com/css2?family=Lato');

body {
    background-color: #0c252f;
    font-family: "Lato", sans-serif;
    color: #e5e5e5;
}

header {
    margin: 50px 0px;
}

.header__div {
    width: 20vw;
    border: 2px solid #ff7f50;
    border-radius: 20px;
    margin: auto;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%
}

.wrapper__filler-side {
    width: 10vw;
}

.wrapper__row {
    display: flex;
    gap: 5vw;
    
    margin: 40px;
}

.info__container {
    border: 2px solid #ff7f50;
    border-radius: 20px;
    flex-basis: 35vw;
    display: flex;
    flex-direction: column;
}

.info__container.solo {
    border: 2px solid #ff7f50;
    border-radius: 20px;
    flex-basis: 70vw;
    display: flex;
    flex-direction: column;
}

.info__container-title {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
    border-bottom: 2px solid #ff7f50;
    min-height: 10vh;
    align-items: center;
    flex-direction: column;
}

.info__container-content {
    background-color: #19313c;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.info__container-content__row-definition {
    display: flex;
    font-size: 1.5rem;
    border-bottom: 2px solid #ff7f50;
    padding: 10px 10px 10px 10px;
    text-align: center;
    flex: 2;
    justify-content: center;
}

.info__container-content-breaker {
    border-bottom: 2px solid #ff7f50;
    background-color: #0c252f;
    flex: 1 1 5vh;
}

.info__container-content__row-example {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    border-bottom: 2px solid #ff7f50;
    font-size: 1.5rem;
    flex: 2;
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext.hover.right {
    visibility: hidden;
    background-color: #add8e6;
    color: #000;
    left: 300px;
    top: -150px;
    padding: 5px 0;
    border-radius: 6px;
    text-align: left;
    position: absolute;
    font-size: 1rem;
    z-index: 1;
}

.tooltip .tooltiptext.hover.left {
    visibility: hidden;
    background-color: #add8e6;
    color: #000;
    right: 250px;
    top: -150px;
    padding: 5px 0;
    border-radius: 6px;
    text-align: left;
    position: absolute;
    font-size: 1rem;
    z-index: 1;
}

.tooltip:hover .tooltiptext.hover.right {
    visibility: visible;
  }

.tooltip:hover .tooltiptext.hover.left {
    visibility: visible;
  }

.text__hover:hover {
    color: #6fd2ff;
}

.button {
    border: none;
    padding: 8px 16px;
    border-radius: 10px;
    background-color: #0fb4ff;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
}

.button__hover:hover {
    background-color: #41b14f;
}

.link__active {
    text-decoration: none;
    color: #e5e5e5;
}

.link__active:active {
    color: #DC143C;
}

.button__active:active {
    outline: 4px dotted #DC143C;
    background-color: #41b14f;
}

input[type=text], input[type=email] {
    border: none;
    border-radius: 10px;
}

.input__focus:focus {
    background-color: rgb(15, 180, 255);
    outline: 2px solid #41b14f;
}

.info__container-content__row-example.no-border{
    border: none;
}

.info__container-content__row-example:last-child {
    border-bottom: none;
}

.link {
    text-decoration: none;
    color: #0fb4ff
}

.visited-link1:visited {
    color: #41b14f;
}

.visited-link2:visited {
    color: #e5e5e5;
}

#active:target {
    background-color: #ffff00;    
}

#link:target {
    background-color: #ff0000;
}

.text-input:enabled {
    border: 2px solid #ffff00;
}

.text-input:enabled:focus {
    outline: 2px solid #ffff00;
}

.text-input:disabled {
    border: 2px solid #ff0000;
}

input[type=checkbox]:checked + label {
    color: #41b14f;
    border: 1px solid red;
}

.text-input:required {
    border: 2px solid #800080;
    background-color: rgb(65, 177, 79, .5);
}

.text-input:required:focus {
    outline: 2px solid #800080;
}

.text-input.optional:optional {
    border: 2px solid #ff69b4 ;
}

.text-input.optional:optional:focus {
    outline: 2px solid #ff69b4 ;
}

input[type=email]:invalid {
    outline: 2px solid #ff0000;
}

.firstlast li:first-child {
    background-color: rgb(255, 255, 0, .5);
}

.firstlast li:last-child {
    background-color: rgb(255, 0, 0, .5);
}

.nthchild li:nth-child(even) {
    border: 1px solid #ffff00;
}

.nthchild li:nth-child(3) {
    background-color: rgb(255,0,0,.5);
}

.nthchild li:nth-last-child(2) {
    background-color: rgb(65, 177, 79, .5);
}

.firstlasttype p:first-of-type {
    font-style: italic;
    text-decoration: underline;
    color: #41b14f;
}

.firstlasttype p:last-of-type {
    font-weight: 900;
    font-size: 2rem;
    color: #ff69b4;
}

.nthlasttype p:nth-of-type(odd) {
    text-decoration: line-through;
}

.nthlasttype p:nth-of-type(-n + 3) {
    color: #ff69b4;
}

.nthlasttype p:nth-last-of-type(-n + 3) {
    color: #41b14f;
}

.nthlasttype p:nth-last-of-type(4) {
    font-weight: 700;
    font-style:italic;
    text-decoration: underline overline;
}

.div-negation p:not(.no-border) {
    border: 1px solid #ff69b4;
}

.div-negation p:not(.no-color) {
    color: #41b14f;
}

.div-negation p:not(.no-underline) {
    text-decoration: underline;
}